*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body{
  width: 70%;
  margin: auto;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

header{
  height: 600px;
}

header img{
  width: 100px;
}

nav{
  margin: 15px 0;
}
nav li{
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  font-size: 10px;
  border: 20px;
}

nav li a, nav li a:visited{
  color: #868686;
  text-decoration: none;
}

nav li a:hover, nav li a:active{
  color: red;
}

.jumbotron{
  min-height: 500px;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url(../img/banner.jpg);
  background-position: center;
  border-radius: 10px;
  background-blend-mode: darken;
  position: relative;
}

.container{
  width: 57%;
  position: absolute;
  top: 60%;
  padding-left: 5%;
}

.jumbotron .container span, p{
  color: white;
}

.jumbotron .container span{
  font-size: 30px;
  
}

main{
  margin-bottom: 15px;
}

.maintop{
  min-height: 80px;
  margin: 20px 0;
}

.maintop h1 strong{
  font-size: 30px;
}

.maintop span{
  font-size: 15px;
  color: #868686;
}

.left-col, .center-col, .right-col{
  float: left;
  min-height: 500px;
}

.left-col, .right-col{
  width: 20%;
}

.center-col{
  width: 56%;
  margin: 0 2%;
}

.lorem1-img{
  min-height: 200px;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url(../img/img-1.jpg);
  border-radius: 10px;
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
}
.lorem2-img{
  min-height: 200px;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url(../img/banner-2.jpg);
  border-radius: 10px;
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
}

.lorem3-img{
  min-height: 200px;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url(../img/img-3.jpg);
  border-radius: 10px;
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
}

h3{
  font-size: 17px;
  margin: 15px 0;
}

.testo1{
  color: #868686;
  font-size: 15px;
}

footer{
  height: 40px;
  text-align: center;
  margin-top: 10px;
}

footer span{
  color: red;
}