*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  width: 70%;
  margin: auto;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

header{
  height: 600px;
}

header img{
  width: 80px;
  margin-bottom: 10px;
}

nav li{
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

nav li a, nav li a:visited{
  color: #868686;
  text-decoration: none;
}

nav li a:hover, nav li a:active{
  color: red;
}

.jumbotron{
  min-height: 500px;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url(../img/banner.jpg);
  background-position: center;
  border-radius: 10px;
  background-blend-mode: darken;
  position: relative;
}

.container{
  width: 57%;
  position: absolute;
  top: 60%;
  padding-left: 5%;
}

.jumbotron .container span, p{
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.jumbotron .container span{
  font-size: 30px;
  
}
main{
  margin: 20px 0;
}


footer{
  height: 40px;
  background-color: #8801fe;
}

aside, section{
  float: left;
  margin-top: 80px;
}


.box-main{
  background-color: #abcfe7;
  margin-top: 40px;
}

aside{
  min-height: 400px;
  width: 20%;
  border-top: 10px solid #0685f8;
  border-bottom: 10px solid #0685f8;

}

section{
  width: 60%;
  border: 10px solid #0685f8;
  min-height: 400px;
}